[submodule "Dobby"]
	path = inject/src/main/cpp/Dobby
	url = https://github.com/JingMatrix/Dobby.git
[submodule "local_cxa_atexit_finalize_impl"]
	path = zygisk/src/main/cpp/local_cxa_atexit_finalize_impl
	url = https://github.com/5ec1cff/local_cxa_atexit_finalize_impl
[submodule "local_cxa_atexit_finalize_impl2"]
	path = inject/src/main/cpp/local_cxa_atexit_finalize_impl
	url = https://github.com/5ec1cff/local_cxa_atexit_finalize_impl
